.arxiv-title {
	font-size:			16px;
	font-weight:		bold;
	margin-top:			10px;
	margin-bottom:		10px;
	background-color:	rgba(255, 0, 0, 0.2);
}

.arxiv-button {
	font-weight: 		bold;
	border: 			solid 0px;
}

.arxiv-save-button {
	background:			#eeee88;
	width:				5em;
	text-align:			center;
}

.arxiv-bibtex-button {
	background:			#eeee88;
}

.arxiv-entry {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 		5px;
}

.arxiv-odd {
	background:			#ccd9ff;
}

.arxiv-odd {
	background:			#f2f2f2;
}
