#publication_list {
/*
	height:				100%;
*/
	top:				0px;
	margin-left:		5px;
	display:			block;
}

#publication_list thead {
/*
	display:			block;
*/
	height: 			20px;
}

#publication_list tbody {
/*
	display:			block;
*/
/*
	overflow-y:			scroll;
*/
}

#publication_list tr {
	height: 			20px;
}

#publication_div {
	left:				20px;
}

#div_dir {
	display:			none;
}

#notes_tab {
	margin-left:		5px;
	width:				100%;
	display:			none;
}
