#doc_toplevel {
	width:				78%;
}

#publication_list {
	top:				0px;
	margin-left:		5px;
	display:			block;
}

#publication_list thead {
	height: 			20px;
}

#publication_list tbody {
	overflow-y:			scroll;
}

#publication_list tr {
	min-height:			20px;
}

#publication_div {
	left:				20px;
}

#div_dir {
	display:			none;
}

#notes_tab {
	margin-left:		5px;
	width:				99%;
	display:			block;
}

.active_row {
	color:				#ff0000;
}

.field_div {
	width:				100%;
	display:			table;
}

.field_label {
	width:				5em;
	padding:			0 0 0 0;
	display:			table-cell;
}

.field_span {
	display: 			table-cell;
	padding: 			0 0 0 0;
}

#text_author, #text_title, #text_journal, #text_key, #text_keywords, #text_file, #text_doi, #text_url {
	width:				100%;
}

#text_volume, #text_year {
	width:				5em;
}

#text_pages {
	width:				10em;
}

#text_owner {
	width:				10em;
}

#text_timestamp {
	width:				6em;
}

#group_label {
	font-weight:		bold;
	padding:			0 0 0 0;
	display:			table-cell;
}

#field_id {
	font-weight:		bold;
	color:				#ee0000;
	width:				20em;
}

.keywords_list {
	list-style-type:	none;
	padding-left:		0;
}

#textarea_bibtex {
	width:				100%;
	min-height:			200px;
}

.active_filter {
	color:				#cc0000;		/* this doesn't take effect... */
	font-weight:		bold;
}
