#publication_list {
	width:				100%;
	top:				0px;
	margin-left:		5px;
}

#publication_list > thead {
	height: 			20px;
}

#publication_list > tr {
	height: 			20px;
}

#publication_div {
	left:				20px;
}

#div_dir {
	display:			none;
}
