#doc_toplevel {
	width:				78%;
}

#publication_list {
/*
	height:				100%;
*/
	top:				0px;
	margin-left:		5px;
	display:			block;
}

#publication_list thead {
/*
	display:			block;
*/
	height: 			20px;
}

#publication_list tbody {
/*
	display:			block;
*/
	overflow-y:			scroll;
/*
	height:				200px;
*/
}

#publication_list tr {
	min-height:			20px;
}

#publication_div {
	left:				20px;
}

#div_dir {
	display:			none;
}

#notes_tab {
	margin-left:		5px;
	width:				99%;
	display:			block;
}

.active_row {
	color:				#ff0000;
}

.field_div {
	width:				100%;
	display:			table;
}

.field_label {
	width:				5em;
	padding:			0 0 0 0;
	display:			table-cell;
}

.field_span {
	display: 			table-cell;
	padding: 			0 0 0 0;
}

#text_author, #text_title, #text_journal, #text_key {
	width:				100%;
}

#text_volume, #text_year {
	width:				5em;
}

#text_pages {
	width:				8em;
}
