html, body {
	overflow: hidden;
}
header, section, footer, aside, nav, article {
	display: block;
}
 
body {
	background: #fff;
	font-size: 12px;
	font-color: #444;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #e3e8ea;
}

.doc {
	width: 900px;
	margin: 0 auto;
}
 
#header {
	background: #333;
	padding: 0 15px;
}
 
#header h1 {
	margin: 0;
	padding: 15px 0;
	color: #A5A5A5;
}
 
#header nav ul {
	list-style-type: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
 
#header nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
 
#header nav ul li a {
	display: inline-block;
	padding: 2px 10px;
	color: #fff;
	background-color: #CC3366;
	text-decoration: none;
}
 
#header nav ul li.active a,
#header nav ul li a:hover {
	background-color: #fff;
	color: #444;
}

aside {
	position: 		fixed;
	width: 			20%;
	height: 		100%;
	padding: 		0 5px;
	margin-right: 	0px;
	left: 			15px;
	top: 			0;
	right:			-30px;
	background: 	#1c4f63;
	overflow-y: 	scroll;
	color: 			#98dbcc;
	display:		block;
}

.aside_switch {
	position: 		fixed;
	width: 			15px;
	height: 		100%;
	left: 			0;
	top: 			0;
	padding: 		0 0;
	background: 	#36677c;
	color: 			#98dbcc;
	font-weight:	bold;
}

.aside_switch:hover {
	background: 	#133f52;
}

article {
	float:right;
	width: 78%;
	height: 98%;
	top: 25px;
	overflow-y: scroll;
}

#top_menu {
	position: fixed;
	top: 0;
	left:	20%;
	float: right;
	width: 80%;
	background: #116688;
	padding: 0 0;
	height: 25px;
	display: block;
}

.head_container, .code_container, .text_container {
	display: none;
}

#div_title {
	font-size: 24pt;
	background-color: #8899aa;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
	text-align: center;
}

#dir_container {
	background-color: 	#ddbbaa;
	margin-left: 		5px;
	margin-top:			8px;
	width: 				80%;
}

#dir_tag {
	font-size: 			12pt;
	font-weight: 		bold;
	float: 				left;
}

#div_dir {
	font-size: 			12pt;
	position: 			relative;
	left:				10%;
	width: 				90%;
	min-height:			20px;
}

.plot_main, .head_main, .code_main, .text_main, .paragraph_main {
	background-color: rgba(0, 0, 0, 0.05);
	margin-top: 8px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
	border-top: 2px solid #ac9;
    border-bottom: 2px solid #ac9;
}

.plot_caption, .plot_header, .plot_file, .plot_body {
	font-size: 12pt;
	color: #000099;
	background: #eeeeff;
	border-radius: 2px;
	width: 95%;
}

.plot_caption {
	background: 	#d3e8da;
	min-height:  	1.2em;
	font-weight: 	bold;
}

.plot_header {
	background: #eeeeee;
	min-height:  1.2em;
}

.plot_file {
	background: rgba(0, 0, 0, 0.05)
}

.plot_header:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.plot_file:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.plot_body:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
	contenteditable: true;
}

.plot_file {
	/* This can be made hidden */
	font-size: 10pt;
	font-weight: bold;
}

.plot_image {
	width: 60%;
}

.head_header, .head_body, .head_date {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.head_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.head_date {
	font-weight: bold;
}

.head_body {
	background: #eeffee;
	margin-top: 1px;
}

.head_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.code_header, .code_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.code_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.code_body {
	background: #eeffee;
	margin-top: 1px;
}

.code_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.code_error, .head_error {
	color: #990000;
	font-weight: bold;
}

.code_date {
	font-size: 			12pt;
	font-weight: 		bold;
	color: 				#000099;
	background: 		#eeeeff;
	border-radius: 		2px;
	width: 				95%;
}

.text_header, .text_body, .paragraph_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.text_header {
	background: 	#d3e8da;
	min-height:  	1.2em;
	font-weight: 	bold;
}

.text_body, .paragraph_body {
	background: #eeffee;
	margin-top: 1px;
	min-height:  1.2em;
	word-wrap: break-word;
}

.text_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
	
}

.text_body:focus {
	border: solid green;
	border-width: 0 10px 0 0;	
}

.paragraph_body:focus {
	border: solid green;
	border-width: 0 10px 0 0;	
}

.note {
	background:	#d9d900;
	border:		solid #cd5c5c 1px;
}

.note_button {
	background:		#eeee88;
	font-weight: 	bold;
	border: 		solid 0px;
}

.TOC {
	background: #eeffee;	
	margin-top: 8px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
	border-top: 2px solid #ac9;
    border-bottom: 2px solid #ac9;	
    font-size: 	12pt;
	font-weight: 	bold;
}

.toc_entry {
	font-size: 	12pt;
	font-weight: normal;
	background: #eeffee;	
	margin-left:40px;
}

.timeline_year {
	background-color: 	#ddbbaa;
	margin-top: 8px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
	border-top: 2px solid #ac9;
    border-bottom: 2px solid #ac9;	
    font-size: 	16pt;
	font-weight: 	bold;
}

.timeline_month {
	font-size: 	14pt;
	background: 	#d3e8da;
	font-weight: 	bold;
}

.timeline_day {
	font-size: 	12pt;
	font-weight: bold;	
	background: #eeffee;
	margin-top: 1px;
}

.timeline_entry {
	font-size: 	12pt;
	font-weight: normal;
	background: #eeffee;	
	margin-left:40px;
}

.trash {
	display: 	none;
	background:	#ffe699;
}

.trash_image {
	width:				40px;
	height:				40px;
	position: 			fixed;
	bottom:				0px;
	right:				0px;
	display: 			block;
	background-image: 	url('trashbin_empty.png');
	background-size:	contain;
}

#menucontainer-right {
	position: fixed;
	bottom: 50%;
	right: 0;
}

.menu {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #0a0a0a;
	padding: 2px;
	margin: 5px 0px 5px 5px;
	background: #1c4f63;
}

.menu:hover {
	background: #ffffff;
}

.menu ul {
	background: #8899aa;
	font-size: 24px;	
	display: none;
	position: absolute;
	right: 70px;
	top: 30px;
}

.menu ul li {
	display: block;
}

.menu ul li:hover {
	background: #ffffff;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
}
