header, section, footer, aside, nav, article {
	display: block;
}
 
body {
	background: #fff;
	font-size: 12px;
	font-color: #444;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #aaa;
}
 
.doc {
	width: 900px;
	margin: 0 auto;
}
 
#header {
	background: #333;
	padding: 0 15px;
}
 
#header h1 {
	margin: 0;
	padding: 15px 0;
	color: #A5A5A5;
}
 
#header nav ul {
	list-style-type: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
 
#header nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
 
#header nav ul li a {
	display: inline-block;
	padding: 2px 10px;
	color: #fff;
	background-color: #CC3366;
	text-decoration: none;
}
 
#header nav ul li.active a,
#header nav ul li a:hover {
	background-color: #fff;
	color: #444;
}

aside {
	position: fixed;
	width: 20%;
	height: 100%;
	padding: 0 5px;
	margin-right: 2px;
	float: left;
	background: #a1a2e6;
}

article {
	float:right;
	width: 78%;
}

/*
.div_page {
	font-size: 16pt;
	color: #000099;
	font-weight: bold;
	width: 80%;
}
*/

.head_container, .code_container, .text_container {
	display: none;
}

#div_title {
	font-size: 24pt;
	background-color: rgba(1, 1, 1, 0.2);
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
	text-align: center;
}

#div_dir {
	font-size: 12pt;
	background-color: rgba(0, 0, 1, 0.25);
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
}

.plot_main, .head_main, .code_main, .text_main {
	background-color: rgba(0, 0, 0, 0.05);
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
}

.plot_header, .plot_file, .plot_body {
	font-size: 12pt;
	color: #000099;
	background: #eeeeff;
	border-radius: 2px;
	width: 95%;
}

.plot_header {
	background: #eeeeee;
	min-height:  1.2em;
}

.plot_file {
	background: rgba(0, 0, 0, 0.05)
}

.plot_header:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.plot_file:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.plot_body:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
	contenteditable: true;
}

.plot_file {
	/* This can be made hidden */
	font-size: 10pt;
	font-weight: bold;
}

.plot_image {
	width: 60%;
}

.head_header, .head_body, .head_date {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.head_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.head_date {
	font-weight: bold;
}

.head_body {
	background: #eeffee;
	margin-top: 1px;
}

.head_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.code_header, .code_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.code_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.code_body {
	background: #eeffee;
	margin-top: 1px;
}

.code_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.code_error, .head_error {
	color: #990000;
	font-weight: bold;
}

.code_date {
	font-size: 12pt;
	color: #000099;
	background: #eeeeff;
	border-radius: 2px;
	width: 95%;
}

.text_header, .text_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.text_header {
	background: 	#d3e8da;
	min-height:  	1.2em;
	font-weight: 	bold;
}

.text_body {
	background: #eeffee;
	margin-top: 1px;
	min-height:  1.2em;
	word-wrap: break-word;
}

.text_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
	
}

.text_body:focus {
	border: solid green;
	border-width: 0 10px 0 0;	
}

/*
.div_text {
	font-size: 12pt;
	color: #000088;
	background: #cce6ff;
	margin-left: 5px;
	width: 80%;
	margin-top: 5px;
	border-radius: 2px;
}
*/

.trash {
	display: 	none;
	background:	#ffe699;
}

.trash_image {
	width:				40px;
	height:				40px;
	position: 			fixed;
	bottom:				0px;
	right:				0px;
	display: 			block;
	background-image: 	url('trashbin_empty.png');
	background-size:	contain;
}

#menucontainer-right {
	position: fixed;
	bottom: 50%;
	right: 0;
}

.menu {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #0a0a0a;
	padding: 2px;
	margin: 5px 0px 5px 5px;
	background: #b2ddf0;
}

.menu:hover {
	background: #ffffff;
}

.menu ul {
	background: #b2ddf0;
	font-size: 24px;	
	display: none;
	position: absolute;
	right: 70px;
	top: 30px;
}

.menu ul li {
	display: block;
}

.menu ul li:hover {
	background: #ffffff;
}

/*
.menu:hover ul {
	display: block;
	position: absolute;
	right: 70px;
	top: 30px;
}
*/


.button {
	font-family: Arial;
	color: #0a0a0a;
	font-size: 16px;
	padding: 2px;
	width: 100px;
	text-decoration: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border: solid #003366 0px;
	background: #b2ddf0;
}

.button:hover {
	background: #42aaff;
}
