header, section, footer, aside, nav, article {
	display: block;
}
 
body {
	background: #fff;
	font-size: 12px;
	font-color: #444;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #aaa;
}
 
.doc {
	width: 900px;
	margin: 0 auto;
}
 
#header {
	background: #333;
	padding: 0 15px;
}
 
#header h1 {
	margin: 0;
	padding: 15px 0;
	color: #A5A5A5;
}
 
#header nav ul {
	list-style-type: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
 
#header nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
 
#header nav ul li a {
	display: inline-block;
	padding: 2px 10px;
	color: #fff;
	background-color: #CC3366;
	text-decoration: none;
}
 
#header nav ul li.active a,
#header nav ul li a:hover {
	background-color: #fff;
	color: #444;
}

aside {
	position: fixed;
	width: 20%;
	height: 100%;
	padding: 0 15px;
	margin-right: 2px;
	float: left;
	background: #a1a2e6;
}

article {
	float:right;
	width: 78%;
}

/*
.div_page {
	font-size: 16pt;
	color: #000099;
	font-weight: bold;
	width: 80%;
}
*/

div_plot_container, .div_head_container, .div_code_container, .div_text_container {
	display: none;
}

.div_plot_main, .div_head_main, .div_code_main, .div_text_main {
	background-color: rgba(0, 0, 0, 0.05);
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 2px;
	width: 80%;
}

.div_plot_header, .div_plot_title, .div_plot_body {
	font-size: 12pt;
	color: #000099;
	background: #eeeeff;
	border-radius: 2px;
	width: 95%;
}

.div_plot_header {
	background: #eeeeee;
	min-height:  1.2em;
}

.div_plot_title {
	background: rgba(0, 0, 0, 0.05)
}

.div_plot_header:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.div_plot_title:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
}

.div_plot_body:focus {
	border: solid blue;
	border-width: 0 10px 0 0;
	contenteditable: true;
}

.div_plot_title {
	/* This can be made hidden */
	font-size: 10pt;
	font-weight: bold;
}

.div_head_header, .div_head_body, .div_head_title {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.div_head_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.div_head_title {
	font-weight: bold;
	background: #ffcccc;	
}

.div_head_body {
	background: #eeffee;
	margin-top: 1px;
}

.div_head_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.div_code_header, .div_code_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.div_code_header {
	background: #d3e8da;
	min-height:  1.2em;
}

.div_code_body {
	background: #eeffee;
	margin-top: 1px;
}

.div_code_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
}

.div_text_header, .div_text_body {
	font-size: 12pt;
	color: #008800;
	border-radius: 2px;
	width: 95%;
}

.div_text_header {
	background: 	#d3e8da;
	min-height:  	1.2em;
	font-weight: 	bold;
}

.div_text_body {
	background: #eeffee;
	margin-top: 1px;
	min-height:  1.2em;
	word-wrap: break-word;
}

.div_text_header:focus {
	border: solid green;
	border-width: 0 10px 0 0;
	
}

.div_text_body:focus {
	border: solid green;
	border-width: 0 10px 0 0;	
}

/*
.div_text {
	font-size: 12pt;
	color: #000088;
	background: #cce6ff;
	margin-left: 5px;
	width: 80%;
	margin-top: 5px;
	border-radius: 2px;
}
*/

.div_trash {
	display: none;
}

#menucontainer-right {
	position: fixed;
	bottom: 50%;
	right: 0;
}

.menu {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #0a0a0a;
	padding: 2px;
	margin: 5px 0px 5px 5px;
	background: #b2ddf0;
}

.menu:hover {
	background: #ffffff;
}

.menu ul {
	background: #b2ddf0;
	font-size: 24px;	
	display: none;
}

.menu ul li {
	display: block;
}

.menu ul li:hover {
	background: #ffffff;
}

.menu:hover ul {
	display: block;
	position: absolute;
	right: 70px;
	top: 30px;
}

.button {
	font-family: Arial;
	color: #0a0a0a;
	font-size: 16px;
	padding: 2px;
	width: 100px;
	text-decoration: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border: solid #003366 0px;
	background: #b2ddf0;
}

.button:hover {
	background: #42aaff;
}
