$def with (title, aside, arxiv)
<html>
<head>
<title>$title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/arxiv.css"/>
<link rel="stylesheet" href="/static/css/ui.dynatree.css"/>
<link rel="stylesheet" href="/static/css/dynatree_custom.css"/>
<link rel="stylesheet" href="/static/css/jquery.datepick.css"/> 
<link rel="stylesheet" href="/static/css/jquery-ui-smoothness.css" />
<script 
  src="/static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	MathJax.Hub.Config({
	tex2jax: {
		inlineMath: [['$','$'], ['\\(','\\)']],
		processEscapes: true
	}  
  });
</script>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.datepick.js"></script>
<script src="/static/js/ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.dynatree-1.2.4.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/arxiv.js"></script>

<script>var arxiv = $:arxiv['dictionary']</script>
<script>var bibnotes = $:arxiv['bibnotes']</script>
</head>
<body data-type='arxiv'>
<aside id='aside'>
<div id='calendar'></div>
<div id='notebook_tab'>
	 <ul>
		<li><a href='#document_tree'>Documents</a></li>
		<li><a href='#document_contents'>Contents</a></li>
		<li><a href='#tags'>Tags</a></li>
	</ul>
	<div id='document_tree'>$:aside['tree']</div>
	<div id='document_contents'>Contents</div>
	<div id='tags'>Tags</div>
</div>
</aside>
<article id='article'>
<div class="aside_switch" id="aside_switch" onclick="toggle_document_tree()"><<</div>
<div id='top_menu' onmouseover='topmenu_over();'>
<ul>
	<li>Organise
		<ul>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__toc");'>ToC</li>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__timeline");'>Timeline</li>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__bibliography");'>Bibliography</li>
		</ul>
	</li>
	<li>Notebook
		<ul>
			<li onmouseup='open_new_notebook_dialog("New notebook")'>New</li>
			<hr>
		</ul>
	</li>
	<li>Arxiv
		<ul>
			<li onmouseup='toggle_abstract('all')'>Toggle abstract</li>
			<li onmouseup='toggle_abstract('unmarked')'>Toggle unmarked abstract</li>
			<li onmouseup='shuffle_marked()'>Shuffle marked</li>
		</ul>
	</li>	
	<li>Tools
		<ul>
			<li onmouseup='toggle_calendar()'>Calendar</li>
		</ul>
	</li>
	<li>Help
		<ul>
			<li onmouseup='usage();'>Usage</li>
			<li onmouseup='about();'>About</li>
			<li><a href='https://github.com/v923z/nothon' target='_blank'>nothon</a></li>
		</ul>
	</li>
</ul>
</div>
<div id='doc_toplevel'>

<div id='docmain' data-sub_type='arxiv'>
<div id='arxiv-header'></div>

$for entry in arxiv['papers']:
	$if entry['has_keyword']:
		<div class='arxiv-entry arxiv-has-keyword' data-title='$entry['title']' data-authors='$entry['author']'>
	$else:
		<div class='arxiv-entry arxiv-$loop.parity' data-title='$entry['title']' data-authors='$entry['author']'>	
	<div class='arxiv-title'>$entry['full_title']
		<a href='http://arxiv.org/pdf/$entry['pdflink']' target='_blank'>$entry['pdflink']</a>
	</div>
	<div>
		<input class='arxiv-button arxiv-save-button' data-target='$entry['arxiv_id']' type='button' value='Save'/>
		<input class='arxiv-button arxiv-bibtex-button' type='button' onmouseup='alert(arxiv_to_bibtex("$entry['arxiv_id']"));' value='Bibtex'/>
	</div>
	<div>$:entry['authors_raw']</div>
	<div class='arxiv-abstract'>$:entry['abstract']</div>
	</div>
</div>
<div id='paper_save_menu'>
<ul>
	<li>1</li>
	<li>2</li>
	<li>3</li>
</ul>
</div>
</div>
<div id='new_notebook_dialog'>
	<input id='new_notebook' type='text' style='width: 90%; position: absolute; top: 10px;' onkeypress='return new_notebook_keypress(event);'>
</div>
</article>
</body>
</html>
