$def with (title, filename, aside, content, handler_funcs, create_funcs)
<html>
<head>
<title>$title</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/highlight.css"/>
<link rel="stylesheet" href="/static/css/ui.dynatree.css"/>
<link rel="stylesheet" href="/static/css/dynatree_custom.css"/>
<link rel="stylesheet" href="/static/css/jquery.datepick.css"/> 
<link rel="stylesheet" href="/static/css/jquery-ui-smoothness.css" />
<link rel="stylesheet" href="/static/css/theme.default.css" />
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/bibliography.css"/>

<script 
  src="/static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   MathJax.Hub.Config({
    styles: { ".MathJax": { color: "#0000ee", "background-color": "#bbbbee" } },
    TeX: { equationNumbers: { autoNumber: "all" } }
  });
</script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.datepick.js"></script>
<script src="/static/js/ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.dynatree-1.2.4.js"></script>
<script src="/static/js/jquery.tablesorter.min.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
<script src="/static/js/widget-scroller.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/bibliography.js"></script>
<script src="/static/js/bibtex_key.js"></script>

$for f in create_funcs + handler_funcs:
	$ js_src = "/static/js/%s.js"%(f)
	<script src="$js_src"></script>

<script>var full_bibliography = $:content['full_bibliography']</script>
<script>var bibliography = full_bibliography['bibliography']</script>
<script>var directory = full_bibliography['_metadata']['directory']</script>
<script>var extra_data = $:content['extra_data']</script>
<script>var running_server = true</script>
</head>
<body data-type='bibliography' data-file='$filename'>
<aside id='aside'>
<div id='calendar'></div>
<div id='notebook_tab'>
	 <ul>
		<li><a href='#document_tree'>Documents</a></li>
		<li><a href='#biblio_search'>Search</a></li>
		<li><a href='#biblio_keywords'>Keywords</a></li>
	</ul>
	<div id='document_tree'>$:aside['tree']</div>
	<div id='biblio_search'></div>
	<div id='biblio_keywords'></div>
</div>
</aside>
<article id='article'>
<div class='aside_switch' id='aside_switch'>
	<div id='aside_switch_container' onclick='bibliography_side_switch()'><<</div>
</div>
<div class='trash_image' id='trash_image' onclick='toggle_trashbin();'></div>
<div id='top_menu' onmouseover='topmenu_over();'>
<ul>
	<li>Organise
		<ul>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__toc");'>ToC</li>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__timeline");'>Timeline</li>
			<li onmouseup='redirect("http://127.0.0.1:8080/?name=__bibliography");'>Bibliography</li>
		</ul>
	</li>
	<li>Entry
		<ul>
			<li>New
				<ul>
					<li onmouseup='new_entry("#publication_list", this);'>Article</li>
					<li onmouseup='new_entry("#publication_list", this);'>Book</li>
					<li onmouseup='new_entry("#publication_list", this);'>Booklet</li>
					<li onmouseup='new_entry("#publication_list", this);'>Conference</li>
					<li onmouseup='new_entry("#publication_list", this);'>Electronic</li>
					<li onmouseup='new_entry("#publication_list", this);'>Inbook</li>
					<li onmouseup='new_entry("#publication_list", this);'>Incollection</li>
					<li onmouseup='new_entry("#publication_list", this);'>Inproceedings</li>
					<li onmouseup='new_entry("#publication_list", this);'>Manual</li>
					<li onmouseup='new_entry("#publication_list", this);'>Masterthesis</li>
					<li onmouseup='new_entry("#publication_list", this);'>Misc</li>
					<li onmouseup='new_entry("#publication_list", this);'>Other</li>
					<li onmouseup='new_entry("#publication_list", this);'>Patent</li>
					<li onmouseup='new_entry("#publication_list", this);'>Periodical</li>
					<li onmouseup='new_entry("#publication_list", this);'>PhdThesis</li>
					<li onmouseup='new_entry("#publication_list", this);'>Proceedings</li>
					<li onmouseup='new_entry("#publication_list", this);'>Standard</li>
					<li onmouseup='new_entry("#publication_list", this);'>Techreport</li>
					<li onmouseup='new_entry("#publication_list", this);'>Unpublished</li>
				</ul>
			</li>
			<li>Change to
				<ul>
					<li onmouseup='change_to_entry("#publication_list", this);'>Article</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Book</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Booklet</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Conference</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Electronic</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Inbook</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Incollection</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Inproceedings</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Manual</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Masterthesis</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Misc</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Other</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Patent</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Periodical</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>PhdThesis</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Proceedings</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Standard</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Techreport</li>
					<li onmouseup='change_to_entry("#publication_list", this);'>Unpublished</li>
				</ul>
			</li>
			<li onmouseup='delete_entry();'>Delete</li>
		</ul>
	</li>
	<li>Bibliography
		<ul>
			<li>Group
				<ul id='ul_group'>
				</ul>
			</li>
			<li>Column
				<ul>
					<li onmouseup='toggle_column("type");'>Toggle type</li>
					<li onmouseup='toggle_column("author");'>Toggle author</li>
					<li onmouseup='toggle_column("title");'>Toggle title</li>
					<li onmouseup='toggle_column("year");'>Toggle year</li>
					<li onmouseup='toggle_column("journal");'>Toggle journal</li>
					<li onmouseup='toggle_column("key");'>Toggle key</li>
					<li onmouseup='toggle_column("group");'>Toggle group</li>
					<li onmouseup='toggle_column("stars");'>Toggle stars</li>
				</ul>
			</li>		
			<li>Save
				<ul>
					<li onmouseup='save_bibliography("save_bibnote");'>Bibnote</li>
					<li onmouseup='save_bibliography("save_bibtex");'>BibTeX</li>
					<li onmouseup='save_bibliography("save_html");'>HTML</li>
				</ul>
			</li>
			<li>Archive
				<ul>
					<li onmouseup='save_notebook("zip");'>Zip</li>
					<li onmouseup='save_notebook("tar");'>Tar + gzip</li>
					<li onmouseup='git();'>Git</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Notebook
		<ul>
			<li onmouseup='open_new_notebook_dialog()'>New</li>
			<li onmouseup='save_notebook("save");'>Save</li>
			<hr>
			<li onmouseup='expand_collapse_all("expand");'>Expand all</li>
			<li onmouseup='expand_collapse_all("collapse");'>Collapse all</li>
			<hr>
			<li onmouseup='save_notebook("latex");'>LaTeX</li>
			<li onmouseup='save_notebook("markdown");'>Markdown</li>
			<li onmouseup='save_html(this);'>HTML</li>
			<li>Archive
				<ul>
					<li onmouseup='save_notebook("zip");'>Zip</li>
					<li onmouseup='save_notebook("tar");'>Tar + gzip</li>
					<li onmouseup='git();'>Git</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Cell
		<ul>
			<li onmouseup='insert_text();'>Section</li>
			<li onmouseup='insert_paragraph();'>Paragraph</li>
			<li onmouseup='insert_plot()'>Plot</li>
			<li onmouseup='insert_code();'>Code</li>
			<li onmouseup='insert_head();'>Head</li>
			<hr>
			<li onmouseup='delete_block();'>Delete</li>
			<li onmouseup='recover_block();'>Recover</li>			
		</ul>
	</li>
	<li>Menu
		<ul>
			<li onmouseup='toggle_publication_list();'>Publication list</li>
			<li onmouseup='toggle_notes();'>Notes</li>
			<hr>
			<li onmouseup='toggle_context_menu();'>Context</li>
			<li onmouseup='topmenu_hide();'>Hide</li>
			<li onmouseup='trashbin_image_toggle();'>Trashbin</li>
			<li onmouseup='toggle_all();'>Toggle all</li>
		</ul>
	</li>
	<li>Tools
		<ul>
			<li onmouseup='toggle_calendar()'>Calendar</li>
			<li onmouseup='open_calculator(); return false;' onmousedown='return false;'>Calculator</li>
		</ul>
	</li>
	<li>Help
		<ul>
			<li onmouseup='usage();'>Usage</li>
			<li onmouseup='about();'>About</li>
			<li><a href="https://github.com/v923z/nothon" target="_blank">nothon</a></li>
		</ul>
	</li>
	<div id='notebook_status'>Saved: never</div>
</ul>
</div>
<div id='doc_toplevel'>
<div id='menucontainer-right'>
<div class='menu' onclick='move("up");'><img src='/static/css/up-arrow.png'  width="60%"></div>
<div class='menu' onclick='move("down");'><img src='/static/css/down-arrow.png' width="60%"></div>
</div>
<div id='context_menu'></div>
<div id="div_dir">$safe_content(content, "directory")</div>

<div id='bibliography_panes'>
<div id='publication_div'>
	<div id='publication_count'></div>
	<table id='publication_list' class='tablesorter'>
		<thead>$:content['table_header']
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div id='notes_tab'>
	<ul>
		<li><a href='#notes'>Notes</a></li>
		<li><a href='#bibliography_fields'>Fields</a></li>
		<li><a href='#bibliography_fields2'>Fields 2</a></li>
		<li><a href='#bibliography_privnotes'>Private notes</a></li>
		<li><a href='#bibliography_abstract'>Abstract</a></li>
		<li><a href='#bibtex_entry'>Bibtex</a></li>
	</ul>
	<div id='notes'>
		<div id='notes_header' class='field_div'>
			<a href='javascript: show_hide_info();' id='info_switch'>-</a>
			<label id='info_id' class='field_label'></label>
			<label class='field_label'>Stars</label>
			<span class='field_span'>
				<label>1</label><input id='star_1' name='stars' type='radio' onchange='stars_changed();'/>
				<label>2</label><input id='star_2' name='stars' type='radio' onchange='stars_changed();'/>
				<label>3</label><input id='star_3' name='stars' type='radio' onchange='stars_changed();'/>
				<label>4</label><input id='star_4' name='stars' type='radio' onchange='stars_changed();'/>
				<label>5</label><input id='star_5' name='stars' type='radio' onchange='stars_changed();'/>
			</span>
			<span class='field_span' id='email-link'></span>
		</div>
		<div id='info_box'>
			<label id='info_title'></label>
			<br>
			<div id='info_author'></div>
			<label id='info_journal'></label>
			<label id='info_volume'></label>
			<label id='info_pages'></label>
			<label id='info_year'></label>
			<br>
			<div id='pdf-link'></div>
		</div>
		<div id='docmain' data-id=''></div>
	</div>
	<div id='bibliography_fields'>
		<div class='field_div'><label class='field_label'>Authors</label><span class='field_span'><input id='text_author' type='text' onkeypress='return field_keypress(event, "text_title");'/></span></div>
		<div class='field_div'><label class='field_label'>Title</label><span class='field_span'><input id='text_title' type='text' onkeypress='return field_keypress(event, "text_journal");'/></span></div>
		<div class='field_div'><label class='field_label'>Journal</label><span class='field_span'><input id='text_journal' type='text' onkeypress='return field_keypress(event, "text_volume");'/></span></div>
		<div class='field_div'>
			<label class='field_label'>Volume</label><span class='field_span'><input id='text_volume' type='text' onkeypress='return field_keypress(event, "text_pages");'/></span>
			<label class='field_label'>Pages</label><span class='field_span'><input id='text_pages' type='text' onkeypress='return field_keypress(event, "text_year");'/></span>
			<label class='field_label'>Year</label><span class='field_span'><input id='text_year' type='text' onkeypress='return field_keypress(event, "text_key");'/></span>
			<input type='button' class='field_label' value='Key' onmouseup='generate_bibtex_key();'><span class='field_span'><input id='text_key' type='text'/></span>
		</div>
		<div class='field_div'><label class='field_label'>Crossref</label><span class='field_span'><input id='text_crossref' type='text'/></span></div>		
	</div>
	<div id='bibliography_fields2'>
		<div class='field_div'><label class='field_label'>Group</label><span class='field_span'><input id='text_group' type='text' onkeypress='return field_keypress(event, "text_keywords");'/></span></div>
		<div class='field_div'><label class='field_label'>Keywords</label><span class='field_span'><input id='text_keywords' type='text' onkeypress='return field_keypress(event, "text_file");'/></span></div>
		<div class='field_div'>
			<label class='field_label'>File</label><span class='field_span'><input id='text_file' type='text' onkeypress='return field_keypress(event, "text_url");'/></span>
			<input id='field_file_button' type='button' value='Browse' />
			<input id='input_file' type='file' name='files' class='field_label' style='display: none;' onchange='browse(this)'>
		</div>
		<div class='field_div'><label class='field_label'>Url</label><span class='field_span'><input id='text_url' type='text' onkeypress='return field_keypress(event, "text_doi");'/></span></div>
		<div class='field_div'><label class='field_label'>DOI</label><span class='field_span'><input id='text_doi' type='text' onkeypress='return field_keypress(event, "text_owner");'/></span></div>
		<div class='field_div'>
			<label class='field_label'>Owner</label><span class='field_span'><input id='text_owner' type='text' onkeypress='return field_keypress(event, "text_timestamp");'/></span>
			<label class='field_label'>Timestamp</label><span class='field_span'><input id='text_timestamp' type='text' ondblclick='return generate_timestamp(this);'/></span>
		</div>
	</div>
	<div id='bibliography_privnotes'>
		<label class='field_label'>Private notes</label>
		<input id='text_privnotes' type='text' class='field_label' />
	</div>
	<div id='bibliography_abstract'>
		<label class='field_label'>Abstract</label>
		<input id='text_abstract' type='text' class='field_label' />
	</div>
	<div id='bibtex_entry'>
		<div>
			<textarea id='textarea_bibtex'></textarea>
		</div>
	</div>
</div>
</div> 

<div id='trash'></div>
</div>
<div id='new_notebook_dialog'>
	<input id='new_notebook' type='text' style='width: 90%; position: absolute; top: 50px;' onkeypress='return new_notebook_keypress(event);'>
</div>
</article>
</body>
</html>
