$def with (id, content)
$ mid = 'div_code_main_%s'%(id)
$ did = 'div_code_date_%s'%(id)
$ hid = 'div_code_header_%s'%(id)
$ bid = 'div_code_body_%s'%(id)
$ eid = 'expand_div_code_main_%s'%(id)

<div id='$mid' class='code_main' data-type='code'>
<div class='button_expand' id='$eid' onclick='code_onclick(this);'><img src='/static/icons/collapse.png' height='18px'/></div>
<div id='$hid' class='code_header' contenteditable='true' onkeypress='return code_keypress(event);' onfocus='set_active(this);' data-nothon='save;' data-props='intoc;'>$safe_content(content, "code_header")</div>
<div id='$did' class='code_date' data-nothon='save;' data-props=''>$safe_content(content, "code_date")</div>
<div id='$bid' class='code_body' data-expand='$eid' data-nothon='save;' data-props='$safe_props(content, "code_body")'>$:safe_content(content, "code_body")</div>
</div>
