$def with (id, content)
$ mid = 'div_head_main_%s'%(id)
$ did = 'div_head_date_%s'%(id)
$ hid = 'div_head_header_%s'%(id)
$ bid = 'div_head_body_%s'%(id)

<div id='$mid' class='head_main' onclick='head_onclick(event);' data-type='head'>
<div id='$hid' class='head_header' contenteditable='true' onkeypress='return head_keypress(event);' onfocus='set_active(this);' data-nothon='save;'>
$if content:
	$content["head_header"]
</div>
<div id='$did' class='head_date' data-nothon='save;'>
$if content:
	$content["head_date"]
</div>
<div id='$bid' class='head_body' data-nothon='save;'>
$if content:
	$:content["head_body"]
</div>
</div>
