$def with (id, content)
$ mid = 'div_head_main_%s'%(id)
$ did = 'div_head_date_%s'%(id)
$ hid = 'div_head_header_%s'%(id)
$ bid = 'div_head_body_%s'%(id)
$ eid = 'expand_div_head_main_%s'%(id)

<div id='$mid' class='head_main' data-type='head'>
<div class='button_expand' id='$eid' onclick='head_onclick(this);'><img src='/static/icons/collapse.png' height='18px'/></div>
<div id='$hid' class='head_header' contenteditable='true' onkeypress='return head_keypress(event);' onfocus='set_active(this);' data-type='head' data-nothon='save;' data-props='intoc;'>$:safe_content(content, "head_header")</div>
<div id='$did' class='head_date' data-nothon='save;' data-props='$safe_props(content, "head_date")'>$safe_content(content, "head_date")</div>
<div id='$bid' class='head_body' data-expand='$eid' data-nothon='save;' data-props='searchable;' + '$safe_props(content, "head_body")'>$:safe_content(content, "head_body")</div>
</div>
