$def with (title, aside, content, handler_funcs, create_funcs)
<html>
<head>
<title>$title</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/highlight.css" type="text/css" />
<link rel="stylesheet" href="/static/css/ui.dynatree.css" type="text/css" />
<link rel="stylesheet" href="/static/css/dynatree_custom.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.datepick.css" type="text/css" /> 
<script type="text/javascript"
  src="/static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   MathJax.Hub.Config({
    styles: { ".MathJax": { color: "#0000ee", "background-color": "#bbbbee" } }
  });
</script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/static/js/ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.dynatree-1.2.4.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>
<script type="text/javascript" src="/static/js/math.min.js"></script>
<script type="text/javascript" src="/static/js/calculator.js"></script>
<script type="text/javascript" src="/static/js/image.js"></script>

$for f in create_funcs + handler_funcs:
	$ js_src = "/static/js/%s.js"%(f)
	<script type="text/javascript" src="$js_src"></script>

</head>
<body data-type='notebook'>
<aside id='aside'>
<div id="calendar"></div>
<div id="document_tree">$:aside['tree']</div>
</aside>
<article id='article'>
<div class="aside_switch" id="aside_switch" onclick="toggle_document_tree()"><<</div>
<div class="trash_image" id="trash_image" onclick="toggle_trashbin();"></div>
<div id='top_menu' onmouseover='topmenu_over();'>
<ul>
	<li onmouseup='redirect("http://127.0.0.1:8080/?name=__toc");'>ToC</li>
	<li onmouseup='redirect("http://127.0.0.1:8080/?name=__timeline");'>Timeline</li>
	<li>Notebook
		<ul>
			<li onmouseup='open_new_notebook_dialog()'>New</li>
			<li onmouseup='save();'>Save</li>
			<li onmouseup='rename_notebook();'>Rename</li>
			<hr>
			<li onmouseup='expand_collapse_all("expand");'>Expand all</li>
			<li onmouseup='expand_collapse_all("collapse");'>Collapse all</li>
			<hr>
			<li>LaTeX</li>
			<li>HTML</li>
		</ul>
	</li>
	<li>Cell
		<ul>
			<li onmouseup='create_and_insert2(this);'>Section</li>
			<li onmouseup='create_and_insert2(this);'>Paragraph</li>
			<li onmouseup='create_and_insert2(this);'>Plot</li>
			<li onmouseup='create_and_insert2(this);'>Code</li>
			<li onmouseup='create_and_insert2(this);'>Head</li>
			<hr>
			<li onmouseup='delete_block();'>Delete</li>
			<li onmouseup='recover_block();'>Recover</li>			
		</ul>
	</li>
	<li>Menu
		<ul>
			<li onmouseup='toggle_context_menu();'>Context</li>
			<li onmouseup='topmenu_hide();'>Hide</li>
			<li onmouseup='trashbin_image_toggle();'>Trashbin</li>
			<li onmouseup='toggle_all();'>Toggle all</li>
		</ul>
	</li>
	<li onmouseup='open_calculator(); return false;' onmousedown='return false;'>Calculator
	</li>
	<li>Help
		<ul>
			<li onmouseup='usage();'>Usage</li>
			<li onmouseup='about();'>About</li>
			<li><a href="https://github.com/v923z/nothon" target="_blank">nothon</a></li>
		</ul>
	</li>
	<div id='notebook_status'>Saved: never</div>
</ul>
</div>
<div id="doc_toplevel">
<div id="menucontainer-right">
<div class="menu" onclick="move('up');"><img src="/static/css/up-arrow.png"  width="60%"></div>
<div id="menu" class="menu"><img src="/static/css/add.png" width="60%">
<ul>
$for f in create_funcs:
	$ value = "%s"%(f.split("_")[0])
	$ main_src = "%s_main"%(value)
	<li onclick="create_and_insert('$main_src');">$value</li>
<li onclick="save();">save</li>
<li onclick="save_html();">html</li>
<li onclick="delete_block();">remove</li>
<li onclick="recover_block();">recover</li>
</ul>
</div>
<div class="menu" onclick="move('down');"><img src="/static/css/down-arrow.png" width="60%"></div>
</div>
<div id='context_menu'></div>
<div id="div_title" contenteditable='true'>$:safe_content(content, "title")</div>
	<div id="dir_container"> 
	<div id="dir_tag">Directory:   </div><div id="div_dir" contenteditable='true' onkeypress='return dir_keypress(event);'>$safe_content(content, "directory")</div>
</div>

<div id="docmain">$:safe_content(content, "content")
</div>
<div id="trash"></div>
</div>
<div id='calculator_dialog'>
	<div contenteditable=false id='calculator_result' style='width: 100%; height: 200px; overflow-y: scroll;'></div>
	<input id='calculator_string' type='text' style='width: 100%; position: absolute; top: 250px;' onkeydown='return eval_calculator(event);'></input>
</div>
<div id='new_notebook_dialog'>
	<input id='new_notebook' type='text' style='width: 100%; position: absolute; top: 50px;' onkeypress='return new_notebook_keypress(event);'></input>
</div>
</article>
</body>
</html>
