$def with (title, aside, content, handler_funcs, create_funcs)
<html>
<head>
<title>$title</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/highlight.css" type="text/css" />
<link rel="stylesheet" href="/static/css/ui.dynatree.css" type="text/css" />
<link rel="stylesheet" href="/static/css/dynatree_custom.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.datepick.css" type="text/css" /> 
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   MathJax.Hub.Config({
    styles: { ".MathJax": { color: "#0000ee", "background-color": "#bbbbee" } }
  });
</script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.custom.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.dynatree-1.2.4.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>
$for f in create_funcs + handler_funcs:
	$ js_src = "/static/js/%s.js"%(f)
	<script type="text/javascript" src="$js_src"></script>

</head>
<body data-type='notebook'>
<aside id='aside'>
<div id="calendar"></div>
<div id="document_tree">$:aside['tree']</div>
</aside>
<article id='article'>
<div class="aside_switch" id="aside_switch" onclick="toggle_document_tree()"><<</div>
<div class="trash_image" id="trash_image" onclick="toggle_show_hide(event);"></div>
<div id='top_menu' onmouseover='topmenu_over();'>
<ul>
	<li onmouseup='redirect("http://127.0.0.1:8080/?name=__toc");'>ToC</li>
	<li onmouseup='redirect("http://127.0.0.1:8080/?name=__timeline");'>Timeline</li>
	<li>Notebook
		<ul>
			<li>New</li>
			<li>Save</li>			
			<li>LaTeX</li>
			<li>HTML</li>
		</ul>
	</li>
	<li onmouseup='toggle_context_menu();'>Menu</li>
	<li onmouseup='topmenu_hide();'>Hide</li>
	<div id='notebook_status' >Status</div>
</ul>
</div>
<div id="doc_toplevel">
<div id="menucontainer-right">
<div class="menu" onclick="move('up');"><img src="/static/css/up-arrow.png"  width="60%"></div>
<div id="menu" class="menu"><img src="/static/css/add.png" width="60%">
<ul>
$for f in create_funcs:
	$ value = "%s"%(f.split("_")[0])
	$ main_src = "%s_main"%(value)
	<li onclick="create_and_insert('$main_src');">$value</li>
<li onclick="save();">save</li>
<li onclick="save_html();">html</li>
<li onclick="delete_block();">remove</li>
<li onclick="recover_block();">recover</li>
</ul>
</div>
<div class="menu" onclick="move('down');"><img src="/static/css/down-arrow.png" width="60%"></div>
</div>
<div id='context_menu'></div>
<div id="div_title" contenteditable='true'>$:safe_content(content, "title")</div>
	<div id="dir_container"> 
	<div id="dir_tag">Directory:   </div><div id="div_dir" contenteditable='true' onkeypress='return dir_keypress(event);'>$safe_content(content, "directory")</div>
</div>

<div id="docmain">$:safe_content(content, "content")
</div>
</div>
<div id="trash" class="trash">
</article>
</body>
</html>
