$def with (id, content)
$ tid = 'div_plot_title_%s'%(id)
$ hid = 'div_plot_header_%s'%(id)
$ bid = 'div_plot_body_%s'%(id)
$ cid = 'div_plot_container_%s'%(id)

<div id="$hid" class="plot_header" contenteditable="true" onkeypress="return generic_keypress(event);" onfocus="set_active(this);">
$if content:
	$content["header"]
</div>
<div id="$tid" class="plot_title">
$if content:
	$content["title"]
</div>
<div id="$bid" class="plot_body">
$if content:
	<img class="plot_image" src="data:image/png;base64,$content["body"]">
</div>
<div id="$cid" class="plot_container">
$if content:
	$content["container"]
</div>

