$def with (id, content)
$ mid = 'div_text_main_%s'%(id)
$ hid = 'div_text_header_%s'%(id)
$ bid = 'div_text_body_%s'%(id)
$ eid = 'expand_div_text_main_%s'%(id)
$ header_props = safe_props(content, 'text_header', 'searchable', 'intoc')
$ body_props = safe_props(content, 'text_body', 'searchable')

<div id='$mid' class='text_main' data-type='text'>
<div class='button_expand' id='$eid' onmouseup='text_onclick(this);'><img src='/static/icons/collapse.png' height='18px'/></div>
<div id='$hid' class='text_header' contenteditable='true' data-main='$mid' data-type='text' onkeypress='return text_keypress(event);' onfocus='set_active(this);' data-nothon='save;' data-props='$header_props'>$safe_content(content, "text_header")</div>
<div id='$bid' class='text_body' contenteditable='true' data-main='$mid' data-type='text' data-expand='$eid' onkeypress='return text_keypress(event);' onfocus='set_active(this);' data-nothon='save;' data-props='$body_props'>$:safe_content(content, "text_body")</div>
</div>
