$def with (title, aside, content)
<html>
<head>
<title>$title</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/ui.dynatree.css" type="text/css" />
<link rel="stylesheet" href="/static/css/dynatree_custom.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.datepick.css" type="text/css" /> 
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.custom.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.dynatree-1.2.4.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>
<script type="text/javascript" src="/static/js/cell_utils.js"></script>
</head>
<body data-type='timeline'>
<aside id='aside'>
<div id="calendar"></div>
<div id="document_tree">$:aside['tree']</div>
</aside>
<article id='article'>
<div class="aside_switch" id="aside_switch" onclick="toggle_document_tree()"><<</div>
<div id="docmain">$:safe_content(content, "content")
</div>
</article>
</body>
</html>
